<.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <h1>welcome to live video remix app</h1>

  <video id="videoElement" autoplay></video>
  <hr />
</div>
